<form class="boilerform" action="" method="post">
     <link rel="stylesheet" href="button.css">
        <div class="c-select-field">
                <select name="" id="" class="c-select-field__menu">
                    <option>Select Car Condition</option>
                    <option value="1">New</option>
                    <option value="2">Certified Pre-Owned</option>
                </select>
                <span class="c-select-field__decor" aria-hidden="true" role="presentation">&dtrif;</span>
            </div>
            <br>
            <div class="c-select-field">
                    <select name="" id="" class="c-select-field__menu">
                        <option>Car Brand</option>
                        <option value="1">Toyota</option>
                        <option value="2">Nissan</option>
                        <option value="3">Audi</option>
                        <option value="4">Tesla</option>
                    </select>
                    <span class="c-select-field__decor" aria-hidden="true" role="presentation">&dtrif;</span>
            </div>
            <br>
            Year Made: 
            <input type="number" name="" id="" min="2000" max="2019" step="1" class="c-input-field" value="2000" />
            <br>
            <br>
            Color: 
            <div class="c-check-field">
                    <input type="checkbox" name="checkbox-field" id="checkbox-field" class="c-check-field__input" />
                    <label for="checkbox-field" class="c-check-field__decor" aria-hidden="true" role="presentation"></label>
                    <label for="checkbox-field" class="c-check-field__label">White</label> <br>
                    <input type="checkbox" name="checkbox-field" id="checkbox-field" class="c-check-field__input" />
                    <label for="checkbox-field" class="c-check-field__decor" aria-hidden="true" role="presentation"></label>
                    <label for="checkbox-field" class="c-check-field__label">Black</label> <br>
                    <input type="checkbox" name="checkbox-field" id="checkbox-field" class="c-check-field__input" />
                    <label for="checkbox-field" class="c-check-field__decor" aria-hidden="true" role="presentation"></label>
                    <label for="checkbox-field" class="c-check-field__label">Red</label><br>
            </div>

            <button class="myButton">Let's Go Find Cars!</button>

    </form>